<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Alert Box</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="app://preco/package/external/chromium-fix.min.js" async></script>
		<script src="app://preco/package/external/resize-fix.js" async></script>
	</head>
	<body>
		<section>
			<section>
				<button id="close" class="close close-btn"><span aria-hidden="true">&times;</span></button>
			</section>
			<section class="content-area fade-in">
				<div id="title" class="text-primary title"></div>
				<div id="content" class="content"></div>
			</section>
		</section>
		
		<link rel="stylesheet" media="screen" href="app://preco/package/stylesheet/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheet.css">
		
		<script src="main.js"></script>
	</body>
</html>