<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>네이버 블로그 새 포스트 알리미 | 포스트 필터링 설정</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" media="screen" href="app://preco/package/stylesheet/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheet.css">
		
		<script src="app://preco/package/external/chromium-fix.min.js" async></script>
		<script src="app://preco/package/external/resize-fix.js" async></script>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-fixed" role="navigation">
			 	<div class="container-fluid">
					<div class="navbar-header">
						<button id="history-back" class="btn btn-link btn-lg navbar-left history-back">뒤로가기</button>
						<h4 class="navbar-text text-info text-center margin-top-17">포스트 필터링 설정</h4>
					</div>
			 	</div>
			</nav>
		</header>
		
		<section class="container">
			<div id="content-container" class="list-group list-content margin-top-17">
			</div>
		</section>
		
		<script src="app://preco/package/external/jquery-2.1.1.min.js"></script>
		<script src="app://preco/package/external/shared.js"></script>
		<script src="main.js"></script>
	</body>
</html>