<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>개발자 정보</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" media="screen" href="app://preco/package/stylesheet/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheet.css">
		
		<script src="app://preco/package/external/chromium-fix.min.js" async></script>
		<script src="app://preco/package/external/resize-fix.js" async></script>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-fixed" role="navigation">
			 	<div class="container-fluid">
					<div class="navbar-header">
						<button id="history-back" class="btn btn-link btn-lg navbar-left history-back">뒤로가기</button>
						<h4 class="navbar-text text-primary text-center margin-top-17">어플리케이션 정보</h4>
					</div>
			 	</div>
			</nav>
		</header>
		
		<section class="container">
			<h1 class="text-center text-success margin-top-0"><a id="link-set">dev by ^ 플러스비 프리코</a></h1>
			<h3 class="text-center text-primary margin-top-0">Plusb Preco</h3>
			<h3 class="text-center text-info margin-top-17">아이디어 및 도움: KAM(정서불안)</h3>
			<h3 class="text-center text-info margin-top-0">사용언어: HTML5, JS, CSS</h3>
			<h4 class="text-center text-danger margin-top-17">이 프로그램은 비영리적 용도로 제작되었으며 상업적 용도의 사용을 금합니다. 또한 재배포시 원저작자와 출처를 밝혀주시기 바랍니다.</h4>
			<h2 class="text-center text-warning margin-top-17">Copyright(C) PrecoLab | Prevl</h2>
		</section>
		
		<script src="app://preco/package/external/jquery-2.1.1.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>